@import "tailwindcss";
@import "primeicons/primeicons.css";

/* Estilos de base da aplicação */
body {
  @apply bg-slate-50 text-slate-800 antialiased font-sans;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
